# App
NODE_ENV=development
PORT=3001
TZ=America/Bogota

# Database SQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
DATABASE_ENGINE=postgres

# Database NoSQL
#DATABASE_URL=mongodb://mongo:mongo@localhost:27017/mongo?replicaSet=rs0
#DATABASE_ENGINE=mongodb
